<div class="answer">
  <h4><strong>{{{answer.content}}}</strong></h4>
    <div class="comment-info">
      <div class="author">
        By: {{answer.author}}
      </div>
      <div class="time">
        {{answer.timestamp}}
      </div>
    </div>
</div>
