<h1>A list of questions:</h1>
<hr>
{{new-question save="save"}}
<hr>
<ul>
  {{#each model.questions as |question|}}
     {{question-display question=question update="update" destroyQuestion="destroyQuestion"}}
     
  {{/each}}
</ul>
